body {
  font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !important;
  background-color: inherit !important;
  color: inherit !important;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

* {
  font-family: 'Plus Jakarta Sans', Helvetica, Arial, sans-serif !important;
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: -webkit-fill-available;
  flex-direction: column;
}

#root > div {
  width: 100%;
  width: -webkit-fill-available;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
a:visited {
  color: #027ffe;
}

.MuiDataGrid-main > div:nth-child(3) {
  display: none !important;
  visibility: hidden !important;
}

.MuiBackdrop-root {
  backdrop-filter: blur(306px);
  background-color: #f0f8ff00 !important;
}

.MuiBadge-badge {
  pointer-events: none;
}
