button,
.quality:before {
	background-color: #589BBC;
}


.quality:before {
	font-family: 'HelveticaNeue';
	font-size: 15.5px;
	line-height: 40px;
	text-align: center;
	color: #E6E6E6;
}

#Audit:before {
	content: 'non-conformity found during the audit';
	font-size: 15px;
	white-space: pre;
}

#Product:before {
	content: 'external/internal customer claim';
}

#OTD:before {
	content: 'delivery delays';
}