/* Hide scrollbar for Chrome,
Safari and Opera .scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
html {
    overflow: scroll;
    overflow-x: hidden;
} */
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    background-color: #333f48;
    max-width: 1120px;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

#root, .App, .header {
    width: 100%;
    float: left;
}

header {
    margin-bottom: 6px;
}

code {
    font-family: "HelveticaNeue", serif;
}

.filter-btn-yellow {
    background-color: #ffcc33;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    width: 100px;
    height: 30px;
    border-color: #ffcc33;
    box-sizing: content-box;
}

.filter-btn-yellow.clicked {
    border-color: #a68114;
    border-width: 4px;
}

.filter-btn-green {
    background-color: #c9c906;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    width: 200px;
    height: 30px;
    border-color: #c9c906;
    box-sizing: content-box;
}

.filter-btn-green.clicked {
    border-color: #797911;
    border-width: 4px;
}

.filter-btn-blue {
    background-color: #589bbc;
    color: black;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    width: 100px;
    height: 30px;
    border-color: #589bbc;
    box-sizing: content-box;
}

.filter-btn-blue.clicked {
    border-color: #1b76a4;
    border-width: 4px;
}

.colorBg {
    background-color: #333f48;
    float: left;
    width: 100%;
}

.colorTextGray {
    color: #a09b9b;
}

.colorTextLightGray {
    color: #e6e6e6;
}

.table-color {
    background-color: rgba(196, 196, 196, 0.3);
}

.table-height {
    height: 100px !important;
}

.weightText {
    font-weight: 100;
}

.cardHeight {
    height: 300px;
}

.title-header {
    font-size: 35px;
    font-weight: 700;
}

.database-icons-tickets {
    width: 70px;
}

.database-icons-corract {
    width: 150px;
}

.title-DB {
    font-family: "HelveticaNeueCB";
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    max-height: 280px;
}

.ticket-item {
    cursor: pointer;
}
