body {
    margin: 0 auto;
    background-color: #333f48;
    max-width: fit-content;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Helvetica Neue", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.colorBg {
    background-color: #333f48;
}

.colorTextGray {
    color: #a09b9b;
}
.colorTextLightGray {
    color: #e6e6e6;
}

.table-color {
    background-color: rgba(196, 196, 196, 0.3);
}

.weightText {
    font-weight: 100;
}

.cardHeight {
    height: 350px;
}
.title-header {
    font-size: 35px;
    font-weight: 700;
}
.database-icons-tickets {
    width: 70px;
}
.database-icons-corract {
    width: 150px;
}
