body {
	margin: 0 auto;
	background-color: #333f48;
	max-width: 1040px;
	padding: 0;
	height: 100%;
	font-family: "HelveticaNeue";
}

code {
	font-family: 'HelveticaNeue';
}

.colorBg {
	background-color: #333f48;
}

.colorTextGray {
	color: #a09b9b;
}

.colorTextLightGray {
	color: #e6e6e6;
}

.table-color {
	background-color: rgba(196, 196, 196, 0.3);
}

.weightText {
	font-weight: 100;
}