button,
.environment:before {
  background-color: #c9c906;
}

.environment:before {
  font-family: 'HelveticaNeue';
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #e6e6e6;
}

#Accident:before {
  content: 'already happened, injuries';
}

#Nearmiss:before {
  content: 'already happened, no injuries';
}

#Possible_accident:before {
  content: 'threat, violation';
}
